<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>995457531708-u6g8652oh8n23cfm4nqgp55n5mut46o8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.995457531708-u6g8652oh8n23cfm4nqgp55n5mut46o8</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>995457531708-8jckennh9qqh89dl9n18o4pl8bou5al3.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCWbjfmE0KrAWR0qqjP3nzG0iUfcr1H9WE</string>
	<key>GCM_SENDER_ID</key>
	<string>995457531708</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.scoreSquare</string>
	<key>PROJECT_ID</key>
	<string>score-square</string>
	<key>STORAGE_BUCKET</key>
	<string>score-square.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:995457531708:ios:8d432593bcaca05bcce839</string>
</dict>
</plist>